:root {
    --secondary: #e3ecfa;
    --secondary-text: #0f2b46;
}

button.secondary {
    border: 1px solid var(--secondary);
    background-color: var(--secondary);
    color: var(--secondary-text);
}